<div>PRINCE AKACHI</div>

<div style="flex-grow: 1; display: flex; flex-direction: row;">
    <div style="display: flex; flex-direction: column; justify-content: flex-end; align-items: center;">
        <div style="transform: rotate(-90deg); transform-origin: 0% 0%;">Instagram</div>
    </div>
    <div>
        <div>
            <a href="#">Section</a>
            <a href="#">Extra</a>
            <a href="#">+</a>
        </div>
        <div>
            <div class="model-name">{{image.name}}</div>
            <div>Model</div>
        </div>
        
        <div class="switcher" (click)="onNextClicked()">
            <div class="active" [style]="getLeftPos()">
                <div class="roman">{{imagePosition | roman}}/{{totalImages | roman}}</div>
                <div class="line2"></div>
                <div class="next-picture">Next Picture</div>
            </div>
            
            <div class="line"></div>
        </div>
    </div>
</div>

<footer>
    <div>Nigeria, Lagos</div>
    <div>Model</div>
</footer>
